extends layout

block content
  div(data-spy="scroll" data-target="#navmenu" data-offset="200" style="overflow-y: scroll; height: 100%;")
    
    //- About
    h2(id="about") About Me
    div(class="container-fluid")
      div(class="row")
        div(class="col-sm-2")
          img(src="/images/portrait.jpg", class="img-fluid", alt="Ragnvald Nico Bernt")
        div(class="col")
          p Engineer with a passion for transportation and cyber-physical 
            | systems, I will be part of the next revolution in transportation 
            | and I am seeking a 6-month internship in the automotive industry 
            | where I can solidify my skills of managing multi-disciplinary 
            | projects.
          p Currently pursuing a Master of Science and Technology in Internet 
            | of Things – Innovation and Management at Ecole Polytechnique in 
            | Paris, France. I will graduate from this 2-year program after my 
            | internship and defense in November 2021.
          p Outside of work, I enjoy tackling personal projects, exploring the world 
            | on my bicycle, and spending time with friends. Born and raised in the San 
            | Francisco Bay Area, I am looking forward to returning to the United States 
            | as a professional. As a global citizen, I have lived in France, Germany, 
            | Switzerland, and the United States, and I am fluent in English and French 
            | with an intermediate level in German and Spanish.
    
    //- Education
    h3(id="education") Education
    div(class="container-fluid")
      div(class="row")
        div(class="col-sm-1")
          img(src="/images/logos/X.jpg", class="img-fluid", alt="Ecole Polytechnique Logo")
          br
          br
        div(class="col")
          h4 Ecole Polytechnique | Paris, France
          h5 Master of Science and Technology in Internet of Things - 
            | Innovation and Management | Graduation 2021
          h5 Participated in independent study of Wi-Fi 6 (IEEE 802.11ax) for 
            | Industrial IoT applications under Thomas Clausen, Juan-Antonio 
            | Cordero-Fuertes
          br
      div(class="row")
        div(class="col-sm-1")
          img(src="/images/logos/UNR.jpg", class="img-fluid", alt="UNR Logo")
          br
          br
        div(class="col")
          h4 University of Nevada, Reno
          h5 Bachelor of Science in Mechanical Engineering, Minor in Electrical 
            | Engineering | Graduated 2018
          h5 Semester abroad at Technische Hochschule Ingolstadt in Ingolstadt, 
            | Germany
          br
    
    //- Experience
    h3(id="experience") Professional Experience
    div(class="container-fluid")
      div(class="row")
        div(class="col-sm-1")
          img(src="/images/logos/Cisco.jpg", class="img-fluid", alt="Cisco Logo")
          br
          br
        div(class="col")
          h4 Software Engineer Intern | Cisco Systems France | Cisco NetHunting 
            | Framework
          h5 March to July 2020 | Paris, France (Remote) | Computer Networking
          h5 Develop and propose open framework to gather wireless network 
            | performance and geospatial metrics with the goal of supporting 
            | intelligent network selection, planning, and verification.
          br
      div(class="row")
        div(class="col-sm-1")
          img(src="/images/logos/Trainli.jpg", class="img-fluid", alt="Trainli Logo")
          br
          br
        div(class="col")
          h4 Model and Circuit Design, Prototyping, Customer Support | Tainli, 
            | Alpine & Western Pacific Railroad
          h5 September 2016 to August 2019 | Reno, Nevada | Model Railroad Hobby
          h5 Overhaul customer engines with digital electronics, provide customer 
            | support and remote consultation, produce 3-D models and electronic 
            | systems for buildings on expansive 1:24 scale layout.
          br
      div(class="row")
        div(class="col-sm-1")
          img(src="/images/logos/THI.jpg", class="img-fluid", alt="THI Logo")
          br
          br
        div(class="col")
          h4 Undergraduate Research Assistant | Technische Hochschule Ingolstadt | 
            | Unmanned Autonomous Vehicles Laboratory
          h5 March to June 2017 | Ingolstadt, Germany | Academic Research
          h5 Configured lab environment and developed algorithms for anti-collision 
            | systems for indoor motion-captured quadcopter drones using ROS, Motive 
            | OptiTrack, and Parrot Bebop.
          br
      div(class="row")
        div(class="col-sm-1")
          img(src="/images/logos/UNR.jpg", class="img-fluid", alt="UNR Logo")
          br
          br
        div(class="col")
          h4 Teaching Assistant | University of Nevada, Reno | Intro to Engineering 
            | Design, Intro to Mechanical Engineering
          h5 September 2015 to December 2017 (4 Terms) | Reno, Nevada | Higher 
            | Education
          h5 Assisted in course teaching basics of Excel, LabView Lego Robotics 
            | Programming, and MATLAB and in troubleshooting teams’ projects 
            | (hovercraft for Intro to Engineering Desing, Lego Robotics for Intro 
            | to Mechanical Engineering).
          br
      div(class="row")
        div(class="col-sm-1")
          img(src="/images/logos/Lambertson.jpg", class="img-fluid", alt="Lambertson Industries Logo")
          br
          br
        div(class="col")
          h4 Design Engineering Intern | Lambertson Industries | Engineering and 
            | Drafting Department
          h5 February to June 2015 | Reno, Nevada | Metal Fabrication
          h5 Drafted custom and standardized stainless-steel products using SolidWorks 
            | Sheet Metal Tools.
          br
    
    //- Skills
    h3(id="skills") Skills and Competencies
    div(class="container-fluid")
      div(class="row")
        div(class="col")
          h4 Professional Skills
          h5
            ul
              li Leadership of multi-disciplinary team with role assignment and 
                | deadline scheduling.
              li Management and communication between customers, employees, and 
                | manufacturers.
              li Intercultural communication developed through study abroad program 
                | and international travel.
              li Teaching computer program usage and problem solving.
              li Organising events and meetings, strong participation.
          br
      div(class="row")
        div(class="col")
          h4 Digital Competencies
          h5
            ul
              li Excellent command of computer-aided drafting suites (SolidWorks, 
                | Autodesk Fusion 360), Java, Arduino IDE, MS Office (Word, Excel, 
                | PowerPoint, OneNote).
              li Strong understanding of rapid prototyping using 3D printers, CNC 
                | mill, laser, circuit design.
              li Good command of MATLAB, C++, SQL, Javascript, Python, Git, Android 
                | Studio, Adobe Photoshop, digital camera.
          br
    
    //- Portfolio
    h2(id="portfolio") Portfolio
    h3(id="professional") Professional and Academic Projects
    div(class="container-fluid")
      div(class="row")
        div(class="col")
          h4 Cisco NetHunting
          h5(class="p2") In scenarios with multiple available wireless networks, 
            | network selection may yield sub-optimal results due to unknown difference 
            | in performance. NetHunting, an open-source framework of time-variant 
            | network models, aims to support this decision by providing a network 
            | policy based on crowdsourced network and application performance metrics 
            | for Wi-Fi and cellular data networks. Beyond device network selection, 
            | NetHunting aims to provide insight to network providers, infrastructure 
            | providers, and regulatory bodies to validate network performance and 
            | support development strategies.
          h5(class="p2") Working under Gaétan Feige over a 4-month remote internship, 
            | we organized and held virtual meetings to build upon the expertise at 
            | Cisco's Paris Innovation & Research Lab and to present the project to 
            | teams at Open Roaming and the Wireless Broadband Alliance. My role in 
            | this project was to design a proof-of-concept framework with metric 
            | gathering, network modeling, and visualization.
          h5 During the internship, I implemented:
            ul
              li Collection of wireless network metrics using Android mobile OS, 
                | tested on various devices and OS releases
              li Modelling networks from collected metrics using a Java Virtual Machine 
                | and storing models in PostgreSQL
              li Visualization of network coverage and performance varying with time and 
                | location using Leaflet and Express on Node.js
      br
      div(class="row")
        div(class="col")
          h4 Alpine & Western Pacific Railroad
          h5(class="p2") Hawley MacLean designed and manages an expansive 1:24 scale 
            | railroad layout in his Reno home's garden. Since enlisting me to help 
            | with engineering in 2016, Hawley has approached me with innumerable 
            | projects to improve and expand the layout. 
          h5 Projects included:
            ul 
              li Modeling features in CAD for 3-D printing
              li Reproducing and preparing CAD drawings for building assemblies to be manufactured from waterjet-cut PVC, brass, stainless steel, and glass
              li Prototyping mechanical assemblies with 3-D printing and laser cutting
              li Developing electronics with Arduino and Teensy microcontrollers, sensors, audio, and LED drivers to produce realistic scenes at model scale
          h5(class="p2") Below are pictures and videos of the projects, the layout, and an interview.
          h5
            a(class="btn btn-primary" data-toggle="collapse" href="#AWPR_photos" role="button" aria-expanded="false" aria-controls="AWPR_photos") Photo Gallery
            a  
            a(class="btn btn-primary" data-toggle="collapse" href="#AWPR_videos" role="button" aria-expanded="false" aria-controls="AWPR_videos") Video Gallery
          div(class="collapse" id="AWPR_photos")
            div(class="carousel slide" id="AWPR_photoscarousel" data-ride="carousel" data-interval="10000")
              ol(class="carousel-indicators")
                li(data-target="#AWPR_photoscarousel" data-slide-to="0" class="active")
                li(data-target="#AWPR_photoscarousel" data-slide-to="1")
                li(data-target="#AWPR_photoscarousel" data-slide-to="2")
                li(data-target="#AWPR_photoscarousel" data-slide-to="3")
                li(data-target="#AWPR_photoscarousel" data-slide-to="4")
                li(data-target="#AWPR_photoscarousel" data-slide-to="5")
                li(data-target="#AWPR_photoscarousel" data-slide-to="6")
              div(class="carousel-inner")
                div(class="carousel-item active")
                  img(src="/images/professional/hawley/1.jpg" class="d-block w-100" alt="Outdoor layout with finished buildings")
                div(class="carousel-item")
                  img(src="/images/professional/hawley/2.jpg" class="d-block w-100" alt="Render of buildings modeled in Autodesk Fusion360")
                div(class="carousel-item")
                  img(src="/images/professional/hawley/3.jpg" class="d-block w-100" alt="Alta Chalet and side building with solar panel in garage")
                div(class="carousel-item")
                  img(src="/images/professional/hawley/4.jpg" class="d-block w-100" alt="Alta Chalet in snow")
                div(class="carousel-item")
                  img(src="/images/professional/hawley/5.jpg" class="d-block w-100" alt="Alta Chalet controller with display and temperature sensor")
                div(class="carousel-item")
                  img(src="/images/professional/hawley/6.jpg" class="d-block w-100" alt="Watchtower and clock buildings in garage")
                div(class="carousel-item")
                  img(src="/images/professional/hawley/7.jpg" class="d-block w-100" alt="Mooserwirt man render; Binder-jet 3-D print; SLA 3-D print")
              a(class="carousel-control-prev" href="#AWPR_photoscarousel" role="button" data-slide="prev")
                span(class="carousel-control-prev-icon" aria-hidden="true")
              a(class="carousel-control-next" href="#AWPR_photoscarousel" role="button" data-slide="next")
                span(class="carousel-control-next-icon" aria-hidden="true")
          div(class="collapse" id="AWPR_videos")
            div(class="carousel slide" id="AWPR_videoscarousel" data-ride="carousel" data-interval="10000")
              ol(class="carousel-indicators")
                li(data-target="#AWPR_videoscarousel" data-slide-to="0" class="active")
                li(data-target="#AWPR_videoscarousel" data-slide-to="1")
                li(data-target="#AWPR_videoscarousel" data-slide-to="2")
              div(class="carousel-inner")
                div(class="carousel-item active")
                  div(class="embed-responsive embed-responsive-16by9")
                    iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/3n-aGzyAyt8" allowfullscreen)
                div(class="carousel-item")
                  div(class="embed-responsive embed-responsive-16by9")
                    iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/00wAjgUFNaU" allowfullscreen)
                div(class="carousel-item")
                  div(class="embed-responsive embed-responsive-16by9")
                    iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/zXxQqa_EzBI" allowfullscreen)
              a(class="carousel-control-prev" href="#AWPR_videoscarousel" role="button" data-slide="prev")
                span(class="carousel-control-prev-icon" aria-hidden="true")
              a(class="carousel-control-next" href="#AWPR_videoscarousel" role="button" data-slide="next")
                span(class="carousel-control-next-icon" aria-hidden="true")
      br
      div(class="row")
        div(class="col")
          h4 LoRaWAN Environment Sensor
          h5(class="p2") For our Advanced IoT Workshop project at the end of the 1st 
            | year in the master program, Matias Rietig and I developed an indoor 
            | environment sensor with the requirements of low power usage, LoRaWAN 
            | communication, and sensors available to us in the IoT Lab on campus.
            | The prototype device detected motion with a PIR (Proximity Infra-Red) 
            | sensor, measured light intensity with a photodiode, and measured 
            | temperature and humidity with a DHT-11 sensor. Other sensors such as 
            | air quality, sound, and window state were considered but not implemented
            | in the prototype due to power usage of available sensors, privacy concerns,
            | and system complexity. The Heltec WiFi LoRa 32 (V2) microcontroller 
            | periodically polled the sensors and sent compressed results wirelessly over
            | LoRaWAN to the gateway developed by another student group, entering a low-power
            | sleep state between polls.
          h5
            a(class="btn btn-primary" data-toggle="collapse" href="#loragallery" role="button" aria-expanded="false" aria-controls="loragallery") Gallery
          div(class="collapse" id="loragallery")
            div(class="carousel slide" id="loragallerycarousel" data-ride="carousel" data-interval="10000")
              ol(class="carousel-indicators")
                li(data-target="#loragallerycarousel" data-slide-to="0" class="active")
                li(data-target="#loragallerycarousel" data-slide-to="1")
              div(class="carousel-inner")
                div(class="carousel-item active")
                  img(src="/images/professional/lora/1.jpg" class="d-block w-100" alt="Assembled LoraWAN room sensor prototype")
                div(class="carousel-item")
                  img(src="/images/professional/lora/2.jpg" class="d-block w-100" alt="LoraWAN room sensor prototype components")
              a(class="carousel-control-prev" href="#loragallerycarousel" role="button" data-slide="prev")
                span(class="carousel-control-prev-icon" aria-hidden="true")
              a(class="carousel-control-next" href="#loragallerycarousel" role="button" data-slide="next")
                span(class="carousel-control-next-icon" aria-hidden="true")
      br
      div(class="row")
        div(class="col")
          h4 Automated Seasoning Dispenser - Mechanical Engineering Capstone
          h5(class="p2") In the last year of my Mechanical Engineering undergraduate studies, 
            | I worked in a group of 5 students to propose and develop a capstone project including 
            | a proof-of-concept, a business proposition, and finally a prototype. My team agreed 
            | to pursue one of my ideas, an automated seasoning dispenser. We called this device 
            | the SpiceMeUp, and our team Alpine Kitchen Automation. After considering various 
            | dispensing mechanisms, we decided on a rotating set of metered chutes. We identified 
            | a market for our product in the movie theater industry where such a device could 
            | dispense popcorn seasoning powder in a sanitary and controlled manner. Our proof-of-concept 
            | consisted of a single dispensing mechanism for which we could evaluate accuracy and 
            | repeatability. We refined the design to reduce spillage and increse reliability, and 
            | built an electronic controller based on an Arduino Mega development board. My role in 
            | this team was to oversee electrical and programming development. We documented all 
            | aspects of the project with schematics, BoMs, and manufacturing flows, and successfully 
            | completed and demonstrated our prototype at the UNR College of Engineering Innovation Day.
          h5
            a(class="btn btn-primary" data-toggle="collapse" href="#capstonegallery" role="button" aria-expanded="false" aria-controls="capstonegallery") Gallery
          div(class="collapse" id="capstonegallery")
            div(class="carousel slide" id="capstonegallerycarousel" data-ride="carousel" data-interval="10000")
              ol(class="carousel-indicators")
                li(data-target="#capstonegallerycarousel" data-slide-to="0" class="active")
                li(data-target="#capstonegallerycarousel" data-slide-to="1")
                li(data-target="#capstonegallerycarousel" data-slide-to="2")
                li(data-target="#capstonegallerycarousel" data-slide-to="3")
              div(class="carousel-inner")
                div(class="carousel-item active")
                  img(src="/images/professional/capstone/1.jpg" class="d-block w-100" alt="Render and assembled prototype SpiceMeUp")
                div(class="carousel-item")
                  img(src="/images/professional/capstone/2.jpg" class="d-block w-100" alt="BOM for dispensing mechanism assembly; Manufacturing flow for prototype")
                div(class="carousel-item")
                  img(src="/images/professional/capstone/3.jpg" class="d-block w-100" alt="Assembly of dispensing mechanisms for prototype; Annotated description of dispensing mechanism")
                div(class="carousel-item")
                  img(src="/images/professional/capstone/4.jpg" class="d-block w-100" alt="Electronics and code testing setup; Control circuit manufacturing flow; Control circuit schematics")
              a(class="carousel-control-prev" href="#capstonegallerycarousel" role="button" data-slide="prev")
                span(class="carousel-control-prev-icon" aria-hidden="true")
              a(class="carousel-control-next" href="#capstonegallerycarousel" role="button" data-slide="next")
                span(class="carousel-control-next-icon" aria-hidden="true")
      br
      div(class="row")
        div(class="col")
          h4 Unmanned Autonomous Systems Lab at Technische Hochschule Ingolstadt
          h5(class="p2") During my semester abroad at Technische Hochschule Ingolstadt, I got involved with 
            | the Unmanned Autonomous Systems Lab led by Prof. Dr. Andreas Frey. In the lab, I helped set up 
            | the experimental environment for motion-captured quadcopter drones controlled by ROS. We set 
            | up a multi-agent choreography to demonstrate the capabilities of the lab environment, then I 
            | began developing anti-collision algorithms for indoor, motion-captured drones. With little 
            | programming experience of my own, I followed lessons and met with other students to facilitate 
            | my work. In addition to the drone project, I helped other researchers with my experience in 
            | CAD and 3-D printing by designing and building assemblies to support them. One example of this 
            | work is an aircraft throttle lever used in an electric motor controller demo for a 
            | #[a(href="https://www.researchgate.net/publication/333728809_Mission-framed_Project-based_Learning_Integrating_an_Electric_Powertrain_into_a_Motor_Glider") motor glider aircraft doctoral project].
          h5
            a(class="btn btn-primary" data-toggle="collapse" href="#uasgallery" role="button" aria-expanded="false" aria-controls="uasgallery") Gallery
          div(class="collapse" id="uasgallery")
            div(class="carousel slide" id="uasgallerycarousel" data-ride="carousel" data-interval="10000")
              ol(class="carousel-indicators")
                li(data-target="#uasgallerycarousel" data-slide-to="0" class="active")
                li(data-target="#uasgallerycarousel" data-slide-to="1")
                li(data-target="#uasgallerycarousel" data-slide-to="2")
              div(class="carousel-inner")
                div(class="carousel-item active")
                  div(class="embed-responsive embed-responsive-16by9")
                    iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/nUv0T1Gsox4" allowfullscreen height="720")
                div(class="carousel-item")
                  img(src="/images/professional/uaslab/1.jpg" class="d-block w-100" alt="Throttle lever with different-sized palm grips")
                div(class="carousel-item")
                  img(src="/images/professional/uaslab/2.jpg" class="d-block w-100" alt="Close-up of throttle lever base with potentiometer locking mechanism")
              a(class="carousel-control-prev" href="#uasgallerycarousel" role="button" data-slide="prev")
                span(class="carousel-control-prev-icon" aria-hidden="true")
              a(class="carousel-control-next" href="#uasgallerycarousel" role="button" data-slide="next")
                span(class="carousel-control-next-icon" aria-hidden="true")
    br
    h3(id="personal") Personal Projects
    h4
      ul
        li #[a(href="#personalprojectsgallery" data-target="#personalprojectsgallery" data-slide-to="0") Mechanical Keyboard]: 
          | Laser cut case, programmed microcontroller, hand-wired switches and LEDs 
          | for custom 110-key mechanical keyboard. First attempt using insulated 
          | wire resulted in thick overlapping sections and I rewired with magnet 
          | wire to achieve desired keyboard thickness.
        li #[a(href="#personalprojectsgallery" data-target="#personalprojectsgallery" data-slide-to="1") Cactus Nightlight]: 
          | Laser cut and engraved acrylic cactus edge-lit by addressable LEDs, 
          | controlled by microcontroller programmed in Arduino IDE. Input from 
          | potentiometer sets the mode (off, dim, bright, party) and color within 
          | modes. Clay pot with gardening foam provides a steady base.
        li #[a(href="#personalprojectsgallery" data-target="#personalprojectsgallery" data-slide-to="2") Espresso Accessories]: 
          | Tools to help make the perfect espresso without making a mess. Espresso 
          | tamper with machined aluminum base fits perfectly in filter, and 'knock 
          | box' collects and contains used grounds without dislodging filter from 
          | portafilter.
        li #[a(href="#personalprojectsgallery" data-target="#personalprojectsgallery" data-slide-to="3") Utility Knife]: 
          | Minimalistic utility razor blade tool designed in CAD, then 3-D printed 
          | for prototyping. Imprtoant factors in this deisgn were low profile, blade 
          | protection, and minimal material usage. The 3-D printed prototype cost only 
          | $1 to print at the UNR DeLaMare Library.
        li #[a(href="#personalprojectsgallery" data-target="#personalprojectsgallery" data-slide-to="4") X-Acto Knife]: 
          | X-Acto blade tool made to fit on a keyring. Initially designed for 
          | additive manufacturing, prototypes revealed the need for stronger 
          | materials with a smooth finish. Revised for CNC milling from aluminum with 
          | more ergonomic design. 
        li #[a(href="#personalprojectsgallery" data-target="#personalprojectsgallery" data-slide-to="5") Laser-cut Wood Lamps]: 
          | Inpired by wood veneer lamps, I made these as christmas presents for my 
          | grandmothers. The three models use the same center components and 
          | construction with variations in the outer fins to reflect the different 
          | tastes (Santa Fe, Modern, and Aloe).
        li #[a(href="#personalprojectsgallery" data-target="#personalprojectsgallery" data-slide-to="5") Smart Light with Webapp Control]: 
          | Assembled and documented in #[a(href="https://www.instructables.com/WebApp-Puzzle-LED-Lamp-With-ESP32/") Instructables tutorial] 
          | to participate in the LED Strip Speed Challenge. Used ESP32 
          | microcontroller running ESP32 FastLED Web Server from Jason Coon to 
          | control WS2812b addressable LED strip in IQ Puzzle lampshade.
        li #[a(href="#personalprojectsgallery" data-target="#personalprojectsgallery" data-slide-to="5") Screen-printed T-shirts]: 
          | Composed designs from art in music videos to screen print on t-shirts as 
          | a present. Used my knowledge of Adobe Photoshop for composition, a vinyl 
          | cutter at the university makerspace to produce accurate masks, and printed 
          | with the knowledge gained from an Intro to Printmaking course taken at UNR 
          | during my Bachelor studies.

    div(class="carousel slide" id="personalprojectsgallery" data-ride="carousel" data-interval="10000")
      ol(class="carousel-indicators")
        li(data-target="#personalprojectsgallery" data-slide-to="0" class="active")
        li(data-target="#personalprojectsgallery" data-slide-to="1")
        li(data-target="#personalprojectsgallery" data-slide-to="2")
        li(data-target="#personalprojectsgallery" data-slide-to="3")
        li(data-target="#personalprojectsgallery" data-slide-to="4")
        li(data-target="#personalprojectsgallery" data-slide-to="5")
      div(class="carousel-inner")
        div(class="carousel-item active" id="keyboard")
          div(class="container-fluid")
            div(class="row")
              div(class="col")
                img(src="/images/personal/keyboard/1.jpg" class="img-fluid" alt="Testing switches and LEDs with Arduino")
              div(class="col")
                img(src="/images/personal/keyboard/2.jpg" class="img-fluid" alt="Hand-wired numpad with LEDs")
              div(class="col")
                img(src="/images/personal/keyboard/3.jpg" class="img-fluid" alt="Revised wiring with Teensy microcontroller")
        div(class="carousel-item" id="cactus")
          div(class="container-fluid")
            div(class="row")
              div(class="col")
                img(src="/images/personal/cactus/1.jpg" class="img-fluid" alt="Cactus light with color wave pattern")
              div(class="col")
                img(src="/images/personal/cactus/2.jpg" class="img-fluid" alt="Cactus light with single color")
              div(class="col")
                img(src="/images/personal/cactus/3.jpg" class="img-fluid" alt="View of microcontroller, electronics in cactus light")
        div(class="carousel-item")
          div(class="container-fluid")
            div(class="row")
              div(class="col")
                img(src="/images/personal/coffee/1.jpg" class="img-fluid" alt="Espresso tamper with 3-D printed handle and machined aluminum base")
              div(class="col")
                img(src="/images/personal/coffee/2.jpg" class="img-fluid" alt="Espresso grounds 'Knock Box' painted and assembled")
              div(class="col")
                img(src="/images/personal/coffee/3.jpg" class="img-fluid" alt="Espresso grounds 'Knock Box' after weeks of use")
        div(class="carousel-item")
          div(class="container-fluid")
            div(class="row")
              div(class="col")
                img(src="/images/personal/knife/1-1.jpg" class="img-fluid" alt="Render of utility knife")
              div(class="col")
                img(src="/images/personal/knife/1-2.jpg" class="img-fluid" alt="Render of utility knife components")
              div(class="col")
                img(src="/images/personal/knife/1-3.jpg" class="img-fluid" alt="3-D printed prototype of utility knife")
        div(class="carousel-item")
          div(class="container-fluid")
            div(class="row")
              div(class="col")
                img(src="/images/personal/knife/2-1.jpg" class="img-fluid" alt="Render of initial concept of X-Acto knife")
              div(class="col")
                img(src="/images/personal/knife/2-2.jpg" class="img-fluid" alt="Render of X-Acto knife revised for comfort and CNC")
              div(class="col")
                img(src="/images/personal/knife/2-3.jpg" class="img-fluid" alt="Render of exploded view of X-Acto knife")
        div(class="carousel-item")
          div(class="container-fluid")
            div(class="row")
              div(class="col")
                img(src="/images/personal/other/1.jpg" class="img-fluid" alt="Laser-cut wood lamps")
              div(class="col")
                img(src="/images/personal/other/2.jpg" class="img-fluid" alt="Smart LED light")
              div(class="col")
                img(src="/images/personal/other/3.jpg" class="img-fluid" alt="Screen-printed t-shirts")
      a(class="carousel-control-prev" href="#personalprojectsgallery" role="button" data-slide="prev")
        span(class="carousel-control-prev-icon" aria-hidden="true")
      a(class="carousel-control-next" href="#personalprojectsgallery" role="button" data-slide="next")
        span(class="carousel-control-next-icon" aria-hidden="true")
    br

    //- Contact
    h2(id="contact") Contact Me
    a(href="http://www.linkedin.com/in/r-nico-bernt" style="font-size: x-large;") LinkedIn
    br
    br
    a(href="mailto:ragnvald.bernt@polytechnique.edu?subject=Internship" style="font-size: x-large; padding-bottom: 40px;") Email
    br
    br
    br
    footer All rights reserved, Ragnvald Nicolas Bernt
    footer All logos belong to their rightful owners and are for reference purposes only
    footer Want to make a website like this? Check out the #[a(href="https://github.com/RagnvaldIV/website") GitHub repo]