block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
    
    
    div(class="container-fluid h-100 d-flex flex-column")
      div(class="row flex-shrink-0")
        h1 Ragnvald Nicolas Bernt
      div(class="row flex-fill" style="min-height:0")
        div(class="col-sm-2")
          nav(id="navmenu" class="navbar navbar-expand-lg navbar-dark bg-dark")
            //- a(class="navbar-brand" href="#") Contents
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblenav" aria-expanded="true")
              a(class="navbar-brand" href="#") Contents 
              span(class="navbar-toggler-icon")
            nav(class="nav nav-pills flex-column" id="collapsiblenav")
              a(class="nav-link" href="#about") About Me
              nav(class="nav nav-pills flex-column")
                a(class="nav-link ml-3 my-1" href="#education") Education
                a(class="nav-link ml-3 my-1" href="#experience") Professional Experience
                a(class="nav-link ml-3 my-1" href="#skills") Skills and Competencies
              a(class="nav-link" href="#portfolio") Portfolio
              nav(class="nav nav-pills flex-column")
                a(class="nav-link ml-3 my-1" href="#professional") Professional
                a(class="nav-link ml-3 my-1" href="#personal") Personal
              a(class="nav-link" href="#contact") Contact Me
        div(class="col-lg-10 mh-100" style="overflow-y: scroll;")
          block content
          